.container-fluid
  .row
    %nav.navbar.top-header
      .collapse.navbar-collapse#navbarSupportedContent
        %ul.navbar-nav.justify-content-end
          %li.nav-item.nav-link.active 店舗紹介
          %li.nav-item.nav-link イベント
          %li.nav-item ブログ
          %li.nav-item スペシャル
  .row
    .header_image.text-center
      %h2.zousan カ ナ マ チ
      %h3.zousan ショクブンカ
  .row
    .col-md-12

  .row
    .col-md-4
      = image_tag 'gyoza.jpg', height: "50%"
    .col-md-4
      = image_tag 'gyoza.jpg', height: "50%"
    .col-md-4
      = image_tag 'gyoza.jpg', height: "50%"
